<%= render 'layouts/patient'%>
<%= render 'layouts/message'%>
<h1 align="center">Welcome <%= @patient.name %> </h1>
<p align="center">
	<%= image_tag(@patient.avatar, style:'width:200px;height:200px;border-radius:50%;') if @patient.avatar.attached?%>
</p>